.map-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: $search-bar-height;

    #mapdata {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}
