.map-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: $search-bar-height;

    #mapdata {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    #marker-circles {
        img {
            border-radius: 50%;
        }
    }

}

#city-title {
    h1 {
        font-size: ceil(($font-size-base * 1.25));
        text-transform: uppercase;
        color: $brand-primary;
        font-weight: 700;
        
        @media (min-width: $screen-sm) {
            font-size: $font-size-h1;
        }
    }
}
